<%- include('includes/head.ejs') %>

<h1 class="title">Perros registrados</h1>

<a href="/perros/nuevo" class="button is-link is-rounded">Registrar perro</a>

<% if (mensaje != '') { %>
    <div class="notification is-primary">
        <%= mensaje %>
      </div>
    <% } %>

<% if (razas.length > 0) { %>
    <div class="columns">
        <% let columns = 0; %>
        <% for (let raza of razas) { %>
            <% if (columns % 4 == 0) { %>
    </div>
    <div class="columns">
            <% } %>
            <% columns++; %>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="<%= raza.imagen %>" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="<%= raza.imagen %>" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4"><%= raza.raza %></p>
                                <p class="subtitle is-6">@<%= raza.nombre %></p>
                            </div>
                        </div>

                        <div class="content">
                            <%= raza.descripcion %> <a><%= raza.handle %></a>.
                            <a href="#">#css</a> <a href="#">#responsive</a>
                            <br>
                            <time datetime="<%= raza.created_at %>"><%= raza.created_at %></time>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
<% } else { %>
    <h1>No hay razas registradas</h1>
<% } %>

<% if (ultimo_perro != '') { %>
    <div class="notification is-link is-light">
        Último perro agregado: <%= ultimo_perro %>
    </div>
<% } %>

<a href="/perros/nuevo" class="button is-link is-rounded">Registrar perro</a>

<%- include('includes/foot.ejs') %>