<%- include('includes/header.ejs') %>

<body>

<h1 style="margin-top: 30px;" class="title">Usuarios</h1>

<% for (let usuario of usuarios) { %>

    <div class="content" style="display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    /*background: #eee;*/">
        <div class="card" style="position: relative;
        width: 360px;
        min-height: 400px;
        background: #fff;
        box-shadow: 15px 15px 60px rgba(0, 0, 0, .15);
        padding: 20px;">
            <div class="top" style="display: flex;
            justify-content: space-between;
            align-items: center;">
                <div class="userDeatils" style="display: flex;
                align-items: center;">
                    <div class="profileImg" style="
                    position: relative;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 8px;
                    overflow: hidden;">
                        <img src="<%= usuario.pp %>" alt="user" class="cover" style="
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        cursor: pointer;">
                    </div>
                    <h3 style="
                    font-size: 18px;
                    color: #4d4d4f;
                    font-weight: 700;
                    line-height: 1rem;
                    cursor: pointer;">
                    <%= usuario.nombre %><br><span style="font-size: 0.75em;"><%= usuario.escuela %></span></h3>
                </div>
                <div class="dot" style="transform: scale(0.6);
                cursor: pointer;">
                    <img src="dot.png" alt="dot">
                </div>
            </div>
            <div class="imgBg" style="
            position: relative;
            width: 100px;
            height: 320px;
            margin: 10px 0 15px;">
                <img src="" alt="bg" class="cover">
            </div>
            <div class="btns" style="
            display: flex;
        justify-content: space-between;
        align-items: center;">
                <div class="left">
                    <img src="heart.png" alt="heart" class="heart" onclick="likeButton()" style="max-width: 24px;
        cursor: pointer; margin-right: 8px;">
                    <img src="comment.png" alt="comment" style="max-width: 24px;
        cursor: pointer; margin-right: 8px;">
                    <img src="share.png" alt="share" style="max-width: 24px;
        cursor: pointer; margin-right: 8px;">
                </div>
                <div class="right">
                    <img src="bookmark.png" alt="bookmark">
                </div>
            </div>
            <h4 class="likes" style="margin-top: 5px;
            font-size: 1em;
            color: #4d4d4f;"><%= usuario.likes %> likes</h4>
            <h4 class="message" style="
                font-weight: 400;
        margin-top: 5px;
        color: #777;
        line-height: 1.5em;">
                <b style="color: #262626;"><%= usuario.nombre %></b>
                Captain America: Civil War
                <span style="color: #1d92ff;">#ironman</span>
                <span style="cursor: pointer;">#captainamerica</span>
            </h4>
            <h4 class="comments" style="margin-top: 10px;
            align-items: center;
            color: #999;">View all 546 comments</h4>
            <div class="addComments" style="display: flex;
            align-items: center;
            margin-top: 10px;">
                <div class="userImg" style="position: relative;
                min-width: 30px;
                height: 30px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 8px;">
                    <img src="<%= usuario.pp %>" alt="user" class="cover" style="
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    cursor: pointer;">
                </div>
                <input type="text" class="text" style="width: 100%;
                border: none;
                outline: none;
                font-weight: 400;
                font-size: 18px;
                color: #262626;" placeholder="Add a comment...">
            </div>
            <h5 class="postTime" style="margin-top: 10px;
            font-weight: 500;
            color: #777;">5 hours ago</h5>
        </div>
    </div>
</body>


        <% } %>

<%- include('includes/footer.ejs') %>